[submodule "config/.oh-my-zsh-custom/plugins/nix"]
	path = home/.oh-my-zsh-custom/plugins/nix
	url = git@github.com:spwhitt/nix-zsh-completions.git
[submodule "config/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.config/base16-shell"]
	path = home/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "home/.config/base16-fzf"]
	path = home/.config/base16-fzf
	url = https://github.com/fnune/base16-fzf
[submodule "home/.config/base16-i3"]
	path = home/.config/base16-i3
	url = https://github.com/khamer/base16-i3
[submodule "home/.bash_it"]
	path = home/.bash_it
	url = https://github.com/Bash-it/bash-it
