Host tim
    HostName timberlake.cse.buffalo.edu
    User swhitt

Host ratz
    HostName ratz.cse.buffalo.edu
    User swhitt

Host molly
    HostName molly.cse.buffalo.edu
    User swhitt

Host starfleet
    HostName starfleet-command.cse.buffalo.edu
    User swhitt

Host marr
    HostName marr.cse.buffalo.edu
    User swhitt

Host armitage
    HostName armitage.cse.buffalo.edu
    User swhitt

# Help mitigate freezing issuse with sshfs
ServerAliveInterval 15
